.customselect {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    background-color: var(--darker-banner-color);
    padding: 0 .5rem;
    margin: 0;
}

.optionselected {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    gap: .25rem;
}

.optionselected span, .optionselected p {
    user-select: none;
}

.customselect ul {
    background-color: var(--darker-banner-color);
    position: absolute;
    z-index: 9999;
    top: 4rem;
    border-radius: 10px;
    padding: 0;
    margin: 0;
}

.customselect ul li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
    padding: .75rem;
    border-radius: 10px;
    cursor: pointer;
}

.customselect ul li:hover {
    background-color: var(--banner-color);
}

.customselect ul li p, .customselect ul li h4 {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 0;
}