.customselect {
    /* --width: 190px; Width can be modified as props */ 
    border-radius: 5px;
    /* width: var(--width); */
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: flex-end;
    position: relative;
    background-color: var(--darker-banner-color);
    margin: 0;
    z-index: 1;
    margin: 0 auto;
}

.optionselected {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .25rem;
}

.optionselected span, .optionselected p {
    user-select: none;
}

.customselect ul {
    background-color: var(--darker-banner-color);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .25);
    position: absolute;
    z-index: 9999;
    top: 4rem;
    border-radius: 10px;
    padding: 1rem;
    font-size: 12px;
    margin: 0;
}

.customselect ul li {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 0;
    padding: .75rem;
    border-radius: 5px;
    cursor: pointer;
}

.customselect ul li:hover {
    background-color: var(--banner-color);
}

.customselect ul li p {
    text-align: right;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.customselect ul li h4 {
    margin: 0;
    font-weight: 600;
}

.reset {
    margin-left: 1rem;
    cursor: pointer;
}

.reset:hover {
    color: rgb(255, 80, 120);

}

.customselectwrapper {
    display: flex;
    align-items: center;
}