.customselect {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    background-color: var(--darker-banner-color);
    min-width: 210px;
    min-height: 41px;
    margin: 0;
    z-index: 1;
    padding: 0 1.5rem;
    width: 100%;
}

.optionselected {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.optionselected span {
    user-select: none;
}

.optionselected p {
    user-select: none;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.optionswrapper {
    background-color: var(--darker-banner-color);
    position: relative;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .15);
    position: absolute;
    z-index: 9999;
    top: 3.75rem;
    right: 0;
    border-radius: 25px;
    padding: 1rem;
    font-size: 12px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.optionswrapper > span {
    font-size: 14px;
}

.closebtn {
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    margin: .5rem;
    padding: .15rem;
    border-radius: 50%;
    background-color: rgb(255, 80, 120);
    user-select: none;
    cursor: pointer;
}

.customselect ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.customselect ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: .75rem;
    border-radius: 17px;
    cursor: pointer;
}

.customselect ul li:hover {
    background-color: var(--banner-color);
}

.customselect ul li p {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.customselect ul li h4 {
    margin: 0;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    width: 100px;
}


.reset {
    margin-left: 1rem;
    cursor: pointer;
}

.reset:hover {
    color: rgb(255, 80, 120);
}

.customselectwrapper {
    display: flex;
    align-items: center;
}

.defaultimageswrapper ul {
    display: flex;
    flex-direction: row !important;
    gap: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.defaultimageswrapper ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 !important;
    padding: .5rem .15rem !important;
    cursor: pointer;
}

.defaultimageswrapper ul li:hover {
    background-color: var(--darker-banner-color) !important;
}