.pagination {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    background-color: var(--darker-banner-color);
    border-radius: 5px;
}

.pagination > span {
    user-select: none;
    font-size: 40px;
}

.pagination > span:hover {
    cursor: pointer;
    opacity: 0.5;
}