.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--banner-color);
}

.pagination > span {
    font-weight: 600;
    color: #00A9FF;
}

.pagination > span:hover {
    cursor: pointer;
    opacity: 0.75;
}