.pagination {
    display: flex;
    background-color: var(--banner-color);
    justify-content: space-around;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, .1);
    align-items: center;
}

.pagination input[type=number] {
    width: 20px;
    border: none;
    outline: none;
    background-color: var(--darker-banner-color);
    color: var(--text-color);
    padding: .5rem;
    border-radius: 5px;
    /* font-size: inherit; */
    font-family: inherit;
}

.pagination input::-webkit-outer-spin-button,
.pagination input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pagination input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

.pagination input[type=text] {
    border: none;
    outline: none;
    background-color: var(--darker-banner-color);
    color: var(--text-color);
    padding:  .75rem 1rem;
    border-radius: 25px;
    /* font-size: inherit; */
    font-family: inherit;
}

.pagination span {
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
}

.pagesize {
    display: flex;
    align-items: inherit;
    gap: .25rem;
}

.prevandnextpage {
    display: flex;
    align-items: inherit;
    gap: 1rem;
}

.prevandnextpage div {
    display: flex;
    align-items: center;
}

.prevnexttext {
    color: #00A9FF;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}