.tasks {
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--banner-color);
    font-size: 14px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, .1);
    gap: 1rem;
}