.pagesizewrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.pagesizedots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.pagesizedots p {
    font-size: 12px;
}

.dot {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--darker-banner-color);
    font-size: 10px;
    cursor: pointer;
}