.mainwrapper {
    display: flex;
    gap: 1rem;
    padding: 1.5rem 0;
    justify-content: center;
}

.mainwrapper > div {
    display: flex;
    flex-direction: column;
}

.headerwrapper {
    display: flex;
    justify-content: flex-end;
}

.entitieswrapper {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.entity {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--banner-color);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, .1);
    position: relative;
}

.entitybottomtext {
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 1rem;
}

.entitybottomtext p {
    margin: 0;
    font-size: 12px;
}

.entity h1 {
    text-align: center;
}

.projectwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 350px;
}

.projectwrapper > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.buttonswrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.creatorwrapper {
    background-color: var(--banner-color);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, .1);
    width: 100%;
}

.creatorwrapper > div {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.creatorwrapper h3 {
    font-weight: 500;
    text-transform: capitalize;
}

.employeeswrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
}

.banner {
    position: relative;
}

.banner > h1 {
    margin: 0;
    top: -.80rem;
    position: absolute;
    left: 1rem;
    font-weight: 500 !important;
    font-size: 18px;
}

.header {
    margin: 0;
    top: -1.55rem;
    left: 1rem;
    position: absolute;
}

.employeeswrapper ul {
    width: 100%;
    background-color: var(--banner-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, .1);
}

.employeeswrapper ul li {
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.employeeswrapper ul li img {
    border-radius: 50%;
}

.entity h1 {
    margin: .75rem;
    font-weight: 600;
}