.projectwrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem;
    padding: 0;
    border-right: 2px solid var(--background-color);
    gap: 1rem;
}

.headerwrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    border-bottom: 2px solid var(--background-color);
}

.headerwrapper h3 {
    font-weight: 500;
}

.project {
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--banner-color);
    font-size: 14px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, .1);
}

.employees {
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--banner-color);
    font-size: 14px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, .1);
    gap: 1rem;
}

.employees > h3 {
    font-weight: 500;
    margin: 0;
}

.projectwrapper h1 {
    font-size: 24px;
    margin: 0;
}

.employees ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: .5rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid var(--background-color);
}

.employees ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

.employees ul li a {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px;
}

.employees ul li img {
    border-radius: 50%;
}

.projectcontainer {
    display: flex;
    gap: 10rem;
    justify-content: space-around;
}

.projectsidea {
    max-width: 500px;
}

.projectsideb {
    border-left: 2px solid var(--background-color);
    padding: 1rem 2.5rem;
    max-width: 300px;
}

.grayedtext {
    color: rgba(0, 0, 0, .5);
}

.userwrapper {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.userwrapper img {
    border-radius: 50%;
}

.userwrapper h3 {
    font-weight: 500;
    text-transform: capitalize;
}