.main {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    justify-content: space-between;
}

.activitywrapper, .projectswrapper, .taskswrapper, .colleagues {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--banner-color);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, .1);
    padding: 2rem;
}

.buttonwrapper {
    display: flex;
    gap: .5rem;
    padding: 0;
    margin: 0;
}

.colleagues p {
    text-align: center;
}

.colleagues ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.colleagues ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    margin: .25rem 0;
}

.colleagues ul li p a {
    color: var(--text-color);
}

.colleagues ul li img {
    border-radius: 50%;
}

.colleagues ul li p {
    font-weight: 600 !important;
    font-size: 20px;
    text-transform: capitalize;
}

.contentwrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}


.rightsidewrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

 .titlewrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
 } 

.titlewrapper span {
    user-select: none;
    font-size: 60px;
}

.main h1 {
    font-size: 32px;
    font-weight: 500;
    margin: 0;
}

.recentactivity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.activitywrapper h1 > span {
    text-transform: capitalize;
}

.cardswrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.employeecard {
    display: flex;
    flex-direction: column;
    background-color: var(--banner-color);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, .1);
    padding: 1rem;
    max-width: 200px;
    align-items: center;
}

.employeecard img {
    border-radius: 50%;
}

.employeecard h1 {
    font-size: 24px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 500;
    margin: 1rem;
    margin-bottom: 0;
}

.employeecard h2 {
    font-weight: 600;
    margin: 0;
}

.supervisorcontainer {
    padding: .5rem;
    display: flex;
    gap: 1rem;
}

.supervisorcontainer p {
    font-size: 22px !important;
    font-weight: 500 !important;
    text-transform: capitalize;
    color: var(--text-color) !important;
    margin: auto !important;
}

.supervisorcontainer p a {
    color: var(--font-color);
}

.employeecard p {
    color: var(--text-color);
    font-size: 15px;
    text-align: center;
    margin: 0;
    text-transform: capitalize;
}

.employeenumbers {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.employeenumbers a {
    padding: .75rem;
    color: var(--small-font) !important;
    display: inline-block;
    font-size: 12px;
}

.employeenumbers p {
    color: var(--text-color);
    font-weight: 700;
}

@media screen and (max-width: 1050px) {
    .main {
        margin-top: 75px;
    }
}