.main {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
}

.activitywrapper, .projectswrapper, .taskswrapper, .colleagues {
    padding: 1.5rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--banner-color);
    font-size: 14px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, .1);
}

.projectswrapper ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem 0;
    border-bottom: 2px solid var(--background-color);
}

.projectswrapper ul li h3 {
    font-weight: 500;
    margin: 0;
}

.projectswrapper > h3 {
    font-weight: 500;
}

.buttonwrapper {
    display: flex;
    gap: .5rem;
    padding: 0;
    margin: 0;
}

.colleagues p {
    text-align: center;
}

.colleagues ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.colleagues ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    margin: .25rem 0;
}

.colleagues ul li p a {
    color: var(--text-color);
}

.colleagues ul li img {
    border-radius: 50%;
}

.colleagues ul li p {
    font-weight: 600 !important;
    font-size: 20px;
    text-transform: capitalize;
}

.contentwrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.rightsidewrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

 .titlewrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: .5rem;
    border-bottom: 2px solid var(--background-color);
 } 
 
 .titlewrapper > div {
    display: flex;
    align-items: center;
    gap: .5rem;
 }

.titlewrapper p, .titlewrapper h1 {
    margin: 0;
    padding: 0;
}

.titlewrapper span {
    user-select: none;
    font-size: 30px;
}

.main h1 {
    font-size: 32px;
    font-weight: 500;
    margin: 0;
}

.recentactivity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.activitywrapper h1 > span {
    text-transform: capitalize;
}

.cardswrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.employeecard {
    display: flex;
    flex-direction: column;
    background-color: var(--banner-color);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, .1);
    padding: 1rem;
    max-width: 200px;
    align-items: center;
}

.employeecard img {
    border-radius: 50%;
}

.employeecard h1 {
    font-size: 24px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 500;
    margin: 1rem;
    margin-bottom: 0;
}

.employeecard h2 {
    font-weight: 600;
    margin: 0;
}

.supervisorcontainer {
    padding: .5rem;
    display: flex;
    gap: 1rem;
}

.supervisorcontainer p {
    font-size: 22px !important;
    font-weight: 500 !important;
    text-transform: capitalize;
    color: var(--text-color) !important;
    margin: auto !important;
}

.supervisorcontainer p a {
    color: var(--font-color);
}

.employeecard p {
    color: var(--text-color);
    font-size: 12px;
    text-align: center;
    margin: 0;
    text-transform: capitalize;
}

.employeenumbers {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.employeenumbers a {
    padding: .75rem;
    color: var(--small-font) !important;
    display: inline-block;
    font-size: 12px;
}

.employeenumbers p {
    color: var(--text-color);
    font-weight: 700;
}

.projectsinterceptionwrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin: 0;
    padding: 0;
}

.projects {
    background-color: var(--background-color);
    top: 2rem;
    border-radius: 10px;
    padding: 2rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (max-width: 1050px) {
    .main {
        margin-top: 75px;
    }
}