@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.navbar {
    background-color: rgb(255, 255, 255);
    padding: 0 0 0 1rem;
    padding-bottom: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, .1);
    z-index: 999999;
}

.navbar ul, .navbar ul li a {
    font-size: 15px;
    display: flex;
    padding: .25rem .5rem;
}

.navlinks {
    align-items: center;
    display: flex;
    justify-content: center;
}

.user {
    position: relative;
}

.navlinks .logo {
    font-weight: 500 !important;
    user-select: none;
    font-size: 40px;
    display: flex;
    align-items: center;
}

.links {
    padding: 0 1rem;
}

.links .active {
    font-weight: 700;
}

.menu {
    display: none;
}

.fadeIn {
    animation: slideIn .25s forwards;
}

.fadeOut {
    animation: slideOut .25s forwards;
}

.overlay {
    position: fixed;
    top: 0;
    background-color: rgb(30, 30, 30);
    width: 100%;
    z-index: 1;
}

.user p {
    padding: .5rem;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.items ul, .items li {
    color: black;
    margin: 0;
    padding: 1rem 0;
}

.useroverlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 1rem;
    padding: 1rem 0;
}

.useroverlay p {
    margin: 0;
    color: black;
}

.useroverlay div {
    display: flex;
    gap: 1rem;
}

.userinfo {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.userinfo > span:first-child {
    font-weight: 500;
    color: black;
}

.userinfo > span > span {
    color: black;
    text-transform: capitalize;
}

.userinfo > span:last-child {
    font-size: 15px;
}

.usercontainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navuser {
    gap: 2rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.navuser img {
    cursor: pointer;
}

.userpopup {
    z-index: 9999;
    position: absolute;
    top: 75px;
    right: 10px;
    background-color: white;
    border-radius: 10px;
}

.userpopuser {
    border-radius: 10px;
    background-color: whitesmoke;
    margin: 1rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userpopuser > p {
    margin: 0;
}

.userdatacontainer {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.popupmenu {
    padding: 0 1rem
}

.popupmenu p {
    margin: 0;
}

.popupmenu > span {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.logout {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    justify-content: center;
}


.nouser {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
    user-select: none;
}

@media screen and (max-width: 1050px) {
    .navbar {
        position: fixed; 
        top: 0;
        left: 0;
        right: 0;
    }
    .links { display: none; }
    .user { display: none; }
    .menu {
        cursor: pointer;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 3rem;
        height: 3rem;
        border: 0;
        background: transparent;
        gap: .65rem;
        padding-right: 1rem;
    }
    
    .menu > span {
        background: black;
        height: 2px;
        width: 100%;
        transition: all .5s;
        transform-origin: left;
    }
    
    .rotate {
        transform: rotate(32deg);
    }
    
    .opacity0 {
        opacity: 0;
    }
    
    .rotateminus {
        transform: rotate(-32deg);
    }
}