.newprojectwrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin: 0;
    padding: 0;
}

.closebutton {
    position: absolute;
    border-radius: 50%;
    margin: .5rem;
    padding: .25rem;
    top: 0;
    right: 0;
    user-select: none;
}

.newproject > span {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--text-color);
    justify-content: center;
}

.newproject > span:hover:first-child {
    color: rgb(255, 80, 120);
    background-color: var(--darker-banner-color);
    border-radius: 50%;
}

.newproject {
    background-color: var(--banner-color);
    top: 2rem;
    border-radius: 10px;
    padding: 2rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.newproject form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.newproject h1 {
    font-weight: 500;
    font-size: 32px;
    margin: 1rem;
}

.newproject input[type="text"] {
    border: none;
    background-color: var(--darker-banner-color);
    padding: 1rem;
    color: var(--text-color);
    border-radius: 5px;
    font-family: inherit;
}

.newproject input:focus {
    outline: none;
    border: none;
}

.newproject select {
    color: var(--text-color);
    font-family: inherit;
    cursor: pointer;
    padding: .5rem 1rem;
    background-color: var(--darker-banner-color);
    appearance: none;
    border: none;
    border-radius: 5px;
    outline: none;
}

.newproject select option {
    background-color: var(--darker-banner-color);
    border: none;
    outline: none;
    padding: 1rem;
}

.newproject > ul {
    width: 100%;
    list-style: none;
    background-color: var(--darker-banner-color);
    margin: 0;
    border-radius: 10px;
    padding: 1rem;
    height: 300px;
}

.newproject > ul li {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-right: 1.25rem;
    justify-content: space-between;
    padding: .25rem 1rem;
}

.newproject > ul li img {
    border-radius: 50%;
}

.newproject > ul li:hover {
    background-color: var(--banner-color);
    border-radius: 5px;
}

.newproject > ul li > div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.newproject > ul li > div p {
    text-transform: capitalize;
    font-weight: 500;
}

.newproject textarea {
    resize: none;
    border: none;
    outline: none;
    background-color: var(--darker-banner-color);
    color: var(--text-color);
    font-family: inherit;
    border-radius: 5px;
    padding: 1rem;
    width: 300px;
}

.newproject textarea::placeholder {
    font-size: 18px;
}

.summary {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.summary > p {
    margin-bottom: 3rem;
}

.summarydatawrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.summaryinfo {
    border-radius: 5px;
    background-color: var(--darker-banner-color);
    color: var(--text-color);
    width: 400px;
    max-width: 400px;
    position: relative;
}

.summaryinfo > p {
    position: absolute;
    bottom: 2.25rem;
}

.summaryinfo h2 {
    font-weight: 400;
    margin: 1rem !important;
}

.summary h2 {
    font-weight: 400;
}

.buttonwrapper {
    display: flex;
    gap: 1rem;
}

.employeesresume > ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin: 0;
    padding: 0;
    padding: 1.5rem;
    padding-top: 0;
}

.employeesresume > ul li img {
    border-radius: 50%;
}

.companyprioritywrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 5rem;
    text-align: center;
}

.companyprioritywrapper > span p {
    text-align: center;
}

.companyprioritywrapper > span h2 {
    background-color: var(--darker-banner-color);
    padding: 1rem;
    font-size: 14px;
    width: 120px;
    border-radius: 5px;
}

.unsavedchangeswrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    margin: 0;
    padding: 0;
}

.unsavedchanges {
    background-color: var(--banner-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 1rem 2.5rem;
    gap: 1rem;
    top: 3rem;
    position: absolute;
}

.unsavedchanges h1 {
    font-weight: 500;
    font-size: 28px;
    margin: 0;
}

.unsavedchanges p {
    font-weight: 400;
    margin: 0;
}

.buttonwrapper {
    display: flex;
    gap: 1rem;
}

.pagination {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    background-color: var(--darker-banner-color);
    border-radius: 10px;
}

.pagination > span {
    user-select: none;
    font-size: 40px;
}

.pagination > span:hover {
    cursor: pointer;
    opacity: 0.5;
}

.noemployeesfound {
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: inherit;
    background-color: var(--banner-color);
}