.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 5rem;
    background-color: var(--background-color);
}

.projectswrapper {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.titlewrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
 } 

.titlewrapper > span {
    display: flex;
    align-items: center;
    user-select: none;
    gap: 1rem;
    font-size: 45px;
}

.titlewrapper h1 {
    font-size: 42px;
    margin: 0;
}

.descriptor {
    display: flex;
    padding: 0 2rem;
    margin-bottom: 2rem;
    justify-content: space-between;
}

.descriptor > span {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.descriptor > span span {
    user-select: none;
}

.listofemployees ul {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: row !important;
    gap: .25rem !important;
}

.listofemployees li {
    position: relative;
    display: flex !important;
    align-items: center !important;
    flex-direction: row !important;
    background-color: none !important;
    box-shadow: none !important;
    padding: .1rem !important;
}

.projectswrapper li img {
    border-radius: 50%;
}

.projectswrapper p {
    margin: 0;
    padding: 0;
}

.projectswrapper ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projectswrapper ul h1 {
    font-weight: 500;
    width: 300px;
    max-width: 300px;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden;    /* Hide the overflow text */
    text-overflow: ellipsis;
}

.projectswrapper ul li > div {
    display: flex;
    align-items: center !important;
    justify-content: center;
    width: 300px;
    max-width: 300px;
    gap: .5rem;
}

/* Styles for only the first child becuase im nesting ul lis */
.projectswrapper li {
    padding: 0 2rem;
    border-radius: 10px;
    background-color: var(--banner-color);
    display: flex;
    align-items: center !important;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, .1);
}

.projectswrapper ul li div p {
    text-transform: capitalize;
}

.companywrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.companywrapper h1 {
    margin: 0;
}