.banner {
    display: flex;
    align-items: center;
    position: relative;
    gap: 1rem;
}

.banner img {
    border-radius: 50%;
}

.options {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nouser {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
    user-select: none;
}
  
.popup {
    background-color: var(--banner-color);
    top: 3.5rem;
    border-radius: 10px;
    padding: 1rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, .1);
    min-width: 200px;
}

.popup > p {
    margin: 0;
    padding: 0;
}

.userwrapper {
    position: relative;
}

.employeecard {
    position: absolute;
    z-index: 8888;
    top: 1.75rem;
    padding: 1rem;
}