:root {
  --background-color: rgb(245, 245, 245);
  --banner-color: white;
  --darker-banner-color: #f5f5f5;
  --text-color: black;
  --lighter-text-color: rgba(0, 0, 0, .5);
  --small-font: rgba(255, 0, 0, .1);
  --user: lightgray;
  --blue: #3f79ef;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}