.newprojectwrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999999;
}

.newproject {
    background-color: var(--banner-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    min-width: 500px;
    padding: 2rem 0;
    gap: 1rem;
    margin-bottom: 20%;
}

.newproject form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.newproject h1 {
    font-weight: 500;
    font-size: 32px;
    margin: 1rem;
}

.newproject input[type="text"] {
    border: none;
    background-color: var(--darker-banner-color);
    padding: 1rem;
    color: var(--text-color);
    border-radius: 5px;
    font-family: inherit;
}

.newproject input:focus {
    outline: none;
    border: none;
}


.newproject select {
    color: var(--text-color);
    font-family: inherit;
    cursor: pointer;
    padding: .5rem 1rem;
    background-color: var(--darker-banner-color);
    appearance: none;
    border: none;
    border-radius: 5px;
    outline: none;
}

.newproject select option {
    background-color: var(--darker-banner-color);
    border: none;
    outline: none;
    padding: 1rem;
}

.newproject ul {
    width: 100%;
    list-style: none;
    background-color: var(--darker-banner-color);
    margin: 0;
    padding: 0;
}

.newproject ul li {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-right: 1.25rem;
    justify-content: space-between;
}

.newproject ul li:hover {
    background-color: var(--banner-color);
}

.newproject ul li > div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.newproject ul li > div p {
    text-transform: capitalize;
    font-weight: 500;
}

.newproject textarea {
    resize: none;
    border: none;
    outline: none;
    background-color: var(--darker-banner-color);
    color: var(--text-color);
    font-family: inherit;
    border-radius: 5px;
    padding: 1rem;
    width: 300px;
    height: 75px;
}

.newproject textarea::placeholder {
    font-size: 18px;
    text-align: center;
}