.search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.searchicon {
    position: absolute;
    left: 1rem;
    user-select: none;
    font-size: 30px;
}

.search input {
    background-color: var(--darker-banner-color);
    padding: 1rem;
    padding-left: 3.5rem;
    border-radius: 25px;
    border: none;
    font-family: inherit;
    color: var(--text-color);
}

.search input:focus {
    outline: none;
}

.loader {
    position: absolute;
    right: 1rem;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    border-top: 2px solid #FFF;
    border-right: 2px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 