.employeeswrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin: 0;
    padding: 0;
}

.employees {
    background-color: var(--banner-color);
    top: 2rem;
    border-radius: 10px;
    padding: 2rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.closebutton {
    position: absolute;
    border-radius: 50%;
    margin: .5rem;
    padding: .25rem;
    top: 0;
    right: 0;
    user-select: none;
}

.employees > a {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--text-color);
    justify-content: center;
}

.employees > a:hover {
    color: rgb(255, 80, 120);
    background-color: var(--darker-banner-color);
    border-radius: 50%;
}

.employees ul {
    list-style: none;
    margin: 0;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--darker-banner-color);
    border-radius: 5px;
}

.employees ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .25rem 0;
}

.employees ul li p {
    text-transform: capitalize;
    font-weight: 500;
}

.employees ul li img {
    border-radius: 50%;
}

.employees h1 {
    margin: 0;
    font-weight: 500;
}