.banner {
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, .1);
    padding: 2rem;
    border-radius: 10px;
}

.header {
    font-size: 24px;
    display: flex;
    gap: .5rem;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.header > span {
    user-select: none;
    font-size: 3rem;
}

.header h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

.banner a {
    margin: 0;
    font-weight: 500;
    font-size: 1.5rem;
}

.banner ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
