.dashboard {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.menus {
    display: grid;
    grid-template-columns: repeat(1, auto);
    column-gap: 2rem;
    row-gap: 2rem;
}

.menu > h3 {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1050px) {
    .dashboard {
        margin-top: 75px;
    }
}