.welcomewrapper {
    background-color: var(--banner-color);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, .1);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.welcomewrapper img {
    border-radius: 50%;
}

.loaderwrapper {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcomewrapper h1 {
    font-weight: 500;
}

.welcomewrapper h1 > span { /* Capitalize and make the username bold */
    text-transform: capitalize;
    font-weight: 600;
}

.dashboard {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.menus {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 1rem;
    row-gap: 1rem;
}

.menu > h3 {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1050px) {
    .dashboard {
        margin-top: 75px;
    }
}